.beer-breadcrumb {
  background-color: #f7f7f7;
  height: 30px;
  border-radius: 5px;
}

.beer-details {

  .beer-details-features {
    margin-top: 50px;

    .beer-details-feature-key {
      font-weight: bold;
    }

    .beer-details-feature-value {
      margin-left: 10px;
    }
  }

}
